@font-face{
    font-family: Goldman;
    src: url(./assets/Goldman/Goldman-Regular.ttf) format('truetype');
    src: url(./assets/Goldman/Goldman-Bold.ttf) format('truetype');
}

@font-face{
    font-family: Yusei;
    src: url(./assets/Yusei_Magic/YuseiMagic-Regular.ttf) format('truetype');
}

*{
    padding: 0;
    margin: 0;
}

body{
    padding: 30px;   
    background-image: url(./img/fitness.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Goldman;

 
}

.container{
    display: flexbox;
    height: auto;
    background-color: rgba(240, 248, 255, .6);
    padding: 10px;
}

a:link, a:visited {
    color: rgb(26, 24, 24);
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: white;
}

.nav {
    list-style-type: none;
    height: 30px;
}

.logo{
    width: 100px;
    border-radius: 50%;
    border: 2px solid bisque;
    float: left;
}

ul{
    text-align: center;
    border: 1px solid black !important;
    float:left;
    width: calc(100% - 150px);
    margin-top: 10px;
    margin-left: 20px;
    background-color: rgba(10, 9, 9, 0.4);
}

li {
    display: inline-block;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20;
    float: none; 
    
}

.parametr{
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 30px;;
    height: 380px;
    width: 300px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 128, 0, 0.425);
    border: 1px solid black;
    margin-left: 20px;
    overflow: hidden;
}

.parametr p{
    margin: 10px;
}

.input, .parametr input, #selectLifeStyle option{
    width: 100px;
    height: 20px;
    text-align: center;
    color: red;
    padding: 3px;
    font-weight: 600;
}

.input{
    width: 100px;
    height: 20px;
    border: 1px solid black;
    background-color: whitesmoke;
}



#selectLifeStyle{
   margin-bottom: 80px;
}

.result{
    width: 200px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 7px;
    border: 1px solid green;
    color: green;
    font-weight: bold;
    padding: 9px;
    text-align: center;
    line-height: 30px;
    margin: 10px auto;
    margin-bottom: 10px;
}

.btn{
    background-color: green;
    color: white !important;
    border-radius: 5px;
    padding: 9px;
    margin: 20px auto;
    height: 30px !important;
}

.btn-body{
    width: 700px;
    margin: 0 auto !important;
    margin-top: 40% !important;
    height: 50px !important;
    margin-left: -170px !important;
    padding: 50px;
    background-color: red;
}

.massParametr{
    background-color: rgba(255, 0, 0, 0.425);
}

.waterParametr{
    background-color: rgba(0, 0, 255, 0.408);
}

label{
    font-family: Yusei;
}

#resultBodyStatus{
    width: 820px;
    min-height: 200px;
    border: 1px solid black;
    margin: 20px auto;
    background-color: aliceblue;
    padding: 20px;
}

#resultBodyStatus p{
    margin-bottom: 10px;
    font-family: Yusei
}

/********************************************************************
                          RESPONSIVE
********************************************************************/
@media(min-width: 100px){
.container{
  padding: 20px;
}
.wrapper{
    display: flexbox;
    flex-direction: row;
    float: left;
   
}

.parametr{
    margin-left: 3%;
}
}